$base-font: 'Lato', Arial, Tahoma, sans-serif;
$font-color: #848789;
$links-color: #4d4959;
$white: #fff;
$green: #52693a;
$gray: #595d60;
$bullet-active: #a9afb3;
$img-hover: rgba(100, 194, 158, 0.8);
$accentuation:rgba(53, 55, 56, 0.2);
$background-theme: #282f35;
$border: #94979a;
$footer-banner: #f7f7f7;
